.nav {
   height: 50px;
   display: flex;
   justify-content: space-between;
   border-right: 2px solid grey;
   height: 50px;
}

.logo {
   width: 30%;
   font-size: 200%;
   display: flex;
   justify-content: space-around;
}

.detail {
   width: 50%;
   display: flex;
   justify-content: space-around;
}

.detail button {
   cursor: pointer;
   border: none;
   background-color: white;
}

.container {
   background-color: #c559f3;
   height: 88vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.internal-cont {
   display: flex;
   justify-content: space-between;
   height: 80%;
   width: 70%;
}

.left {
   width: 49%;
   height: 100%;
   background-color: white;
   border-radius: 10px;
}

.right {
   width: 49%;
   height: 100%;
   background-color: white;
   border-radius: 10px;
}

.left-detail {
   margin-left: 7%;
}

.left-detail label {
   display: block;
   margin-top: 3%;
}

.left-detail input {
   margin-right: 3%;
}
